# Traffic Collisions Dataset

### Welcome to DS3's first datathon!

This is going to be a summary of the traffic collisions dataset, as well as an intro to Pandas, Matplotlib, and Sci-kit learn to give you some jumping off points of what you could do.

This data is from the city of San Diego's open data portal, https://data.sandiego.gov/.  This is real data relating to San Diego traffic and collisions that you will be able to work with.

Collisions: https://data.sandiego.gov/datasets/police-collisions/

Traffic Volumes: https://data.sandiego.gov/datasets/traffic-volumes/

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Loading Data

In [3]:
collisions = pd.read_csv("pd_collisions_datasd.csv")
counts = pd.read_csv("traffic_counts_datasd.csv")

In [4]:
collisions.head(3)

,report_id,date_time,police_beat,street_no,street_dir,street_name,street_type,cross_st_dir,cross_st_name,cross_st_type,violation_section,violation_type,charge_desc,injured,killed,hit_run_lvl
0,170166,2017-01-01 00:01:00,124,8300,,CAM DEL ORO,,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
1,170101,2017-01-01 00:01:00,322,6400,,CRAWFORD,STREET,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
2,170218,2017-01-01 00:01:00,325,8100,,ROYAL GORGE,DRIVE,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR

In [5]:
counts.head(3)

,id,street_name,limits,all_count,northbound_count,southbound_count,eastbound_count,westbound_count,total_count,file_no,count_date
0,01AV018207,01 AV,A ST - ASH ST,,18010,NaN,NaN,NaN,18010,0182-07,2007-03-13 00:00:00
1,01AV015210,01 AV,A ST - ASH ST,,20060,NaN,NaN,NaN,20060,0152-10,2010-03-18 00:00:00
2,01AV018213,01 AV,A ST - ASH ST,,19597,NaN,NaN,NaN,19597,0182-13,2013-03-12 00:00:00

### What do the csvs include?

## Pandas Tutorial

Let's see how we can use Pandas to clean, filter, and manipulate our data so that you can learn how to use it if you don't already, and maybe get some ideas on what you could do.

Before we can work on anything else, let's have a look at what data are included.

#### Collisions

The collisions dataset comes with information about when the collision occurred, what police beat the collision occurred in, street number, name, and type, violation section, type, and charge description.

#### Volumes

The volumes dataset contains info on the street name, number of cars going north, south, east, and west, the total count, and when the count of cars occurred.

### Selecting data

In [8]:
collisions['street_name'].head()

0    CAM DEL ORO
1       CRAWFORD
2    ROYAL GORGE
3        VALERIO
4           11TH
Name: street_name, dtype: object

In [15]:
collisions[['report_id', 'street_name']].head()

  report_id  street_name
0    170166  CAM DEL ORO
1    170101     CRAWFORD
2    170218  ROYAL GORGE
3    170082      VALERIO
4    170097         11TH

In [7]:
collisions[collisions['injured'] > 1].head(3)

,report_id,date_time,police_beat,street_no,street_dir,street_name,street_type,cross_st_dir,cross_st_name,cross_st_type,violation_section,violation_type,charge_desc,injured,killed,hit_run_lvl
25,170257,2017-01-01 18:07:00,611,3700,,SPORTS ARENA,BOULEVARD,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,4,0,NaN
27,170146,2017-01-01 19:45:00,822,5800,,EL CAJON,BOULEVARD,,,,21801A,VC,LEFT TURN YIELD UNTIL SAFE OR U-TURN,2,0,NaN
29,170122,2017-01-01 22:15:00,841,3400,,COLLEGE,AVENUE,,,,21804,VC,ENTERING HWY FROM PRIVATE ROAD OR DRIVEWAY,3,0,NaN

In [17]:
collisions[(collisions['injured'] > 1) & (collisions['injured'] < 4)].head(3)

,report_id,date_time,police_beat,street_no,street_dir,street_name,street_type,cross_st_dir,cross_st_name,cross_st_type,violation_section,violation_type,charge_desc,injured,killed,hit_run_lvl
27,170146,2017-01-01 19:45:00,822,5800,,EL CAJON,BOULEVARD,,,,21801A,VC,LEFT TURN YIELD UNTIL SAFE OR U-TURN,2,0,NaN
29,170122,2017-01-01 22:15:00,841,3400,,COLLEGE,AVENUE,,,,21804,VC,ENTERING HWY FROM PRIVATE ROAD OR DRIVEWAY,3,0,NaN
38,170129,2017-01-02 14:10:00,722,1900,,PALM,AVENUE,,,,21703,VC,FOLLOWING TOO CLOSELY,3,0,NaN

You can use brackets and column names to filter out information you don't want to look at at the moment. Filtering data is done by creating a boolean array, which is what 'collisions['injured'] > 1' creates, and then putting that in the brackets for collisions.  

A boolean array is a list of true and falses that matches the number of rows in the dataset, so true would mean keep the row, false would mean ignore it.

In [8]:
(collisions['injured'] > 1).head()

0    False
1    False
2    False
3    False
4    False
Name: injured, dtype: bool

### Locating data: iloc vs loc

In [9]:
collisions.head(3)

,report_id,date_time,police_beat,street_no,street_dir,street_name,street_type,cross_st_dir,cross_st_name,cross_st_type,violation_section,violation_type,charge_desc,injured,killed,hit_run_lvl
0,170166,2017-01-01 00:01:00,124,8300,,CAM DEL ORO,,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
1,170101,2017-01-01 00:01:00,322,6400,,CRAWFORD,STREET,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
2,170218,2017-01-01 00:01:00,325,8100,,ROYAL GORGE,DRIVE,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR

In [10]:
collisions.iloc[1]

report_id                                                       170101
date_time                                          2017-01-01 00:01:00
police_beat                                                        322
street_no                                                         6400
street_dir
street_name                                                   CRAWFORD
street_type                                                     STREET
cross_st_dir
cross_st_name
cross_st_type
violation_section                                             MISC-HAZ
violation_type                                                      VC
charge_desc          MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...
injured                                                              0
killed                                                               0
hit_run_lvl                                                MISDEMEANOR
Name: 1, dtype: object

In [11]:
collisions.loc[1]

report_id                                                       170101
date_time                                          2017-01-01 00:01:00
police_beat                                                        322
street_no                                                         6400
street_dir
street_name                                                   CRAWFORD
street_type                                                     STREET
cross_st_dir
cross_st_name
cross_st_type
violation_section                                             MISC-HAZ
violation_type                                                      VC
charge_desc          MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...
injured                                                              0
killed                                                               0
hit_run_lvl                                                MISDEMEANOR
Name: 1, dtype: object

iloc will pull information at the given index, numerically. loc will do the same, except it can pull information when the index is named as well, so you can pass a string.

You can also use iloc and loc to pull out multiple rows and columns.

In [12]:
collisions.iloc[1:3, 2:5]

   police_beat  street_no street_dir
1          322       6400
2          325       8100

In [13]:
collisions.loc[1:3, "police_beat":"street_dir"]

   police_beat  street_no street_dir
1          322       6400
2          325       8100
3          935       5500

You can also use slicing to pull out information.  The first parameter is the rows you want to include, and the second parameter are the columns you want to include.