# Traffic Collisions Dataset

### Welcome to DS3's first datathon!

This is going to be a summary of the traffic collisions dataset, as well as an intro to Pandas, Matplotlib, and Sci-kit learn to give you some jumping off points of what you could do.

This data is from the city of San Diego's open data portal, https://data.sandiego.gov/.  This is real data relating to San Diego traffic and collisions that you will be able to work with.

Collisions: https://data.sandiego.gov/datasets/police-collisions/

Traffic Volumes: https://data.sandiego.gov/datasets/traffic-volumes/

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Loading Data

In [10]:
collisions = pd.read_csv("pd_collisions_datasd.csv")
counts = pd.read_csv("traffic_counts_datasd.csv")

In [11]:
collisions.head(3)

,report_id,date_time,police_beat,street_no,street_dir,street_name,street_type,cross_st_dir,cross_st_name,cross_st_type,violation_section,violation_type,charge_desc,injured,killed,hit_run_lvl
0,170166,2017-01-01 00:01:00,124,8300,,CAM DEL ORO,,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
1,170101,2017-01-01 00:01:00,322,6400,,CRAWFORD,STREET,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
2,170218,2017-01-01 00:01:00,325,8100,,ROYAL GORGE,DRIVE,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR

In [14]:
counts.head(3)

,id,street_name,limits,all_count,northbound_count,southbound_count,eastbound_count,westbound_count,total_count,file_no,count_date
0,01AV018207,01 AV,A ST - ASH ST,,18010,NaN,NaN,NaN,18010,0182-07,2007-03-13 00:00:00
1,01AV015210,01 AV,A ST - ASH ST,,20060,NaN,NaN,NaN,20060,0152-10,2010-03-18 00:00:00
2,01AV018213,01 AV,A ST - ASH ST,,19597,NaN,NaN,NaN,19597,0182-13,2013-03-12 00:00:00

### What do the csvs include?

Before we can work on anything else, let's have a look at what data are included.

#### Collisions

The collisions dataset comes with information about when the collision occurred, what police beat the collision occurred in, street number, name, and type, violation section, type, and charge description.

#### Volumes

The volumes dataset contains info on the street name, number of cars going north, south, east, and west, the total count, and when the count of cars occurred.